.HeaderCTA {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-family: Arial;
        font-size: 14px;
        line-height: 18.2px;
        text-decoration: uppercase;
    }
}
